# Using macOS homebrew package dependencies versions
# https://github.com/Homebrew/homebrew-core/blob/master/Formula/ooniprobe.rb
pyasn1==0.2.3
setuptools>=11.3

# These are direct dependencies of ooniprobe.
PyYAML==3.12
Twisted==17.1.0
ipaddr==2.1.11
pyOpenSSL==16.2.0
geoip==1.3.2
txtorcon==0.18.0
txsocksx==1.15.0.2
scapy==2.3.3
pypcap==1.2.1
service-identity==16.0.0
pydumbnet==1.12.1
zope.interface==4.3.3
certifi==2017.1.23
klein==17.2.0

# These are indirect dependencies of ooniprobe.
cffi==1.9.1
enum34==1.1.6
pycparser==2.17
appdirs==1.4.3
asn1crypto==0.21.1
attrs==16.3.0
Automat==0.5.0
constantly==15.1.0
cryptography==3.2
idna==2.5
incremental==16.10.1
ipaddress==1.0.18
packaging==16.8
Parsley==1.3
pyasn1-modules==0.0.8
pyparsing==2.2.0
werkzeug==0.12
